@import url('https://fonts.googleapis.com/css?family=Righteous|Chicle|Acme:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

/*------------------------------------------------------------Colors*/

.bg-color-band-title {
    background-color: #b30000;
}

.bg-color-be-a-monkee{
    background-color: #ffffff;
}

.bg-color-band-bio {
    background-color: #f4f4f4;
}

.bg-color-band-photo {
    background-color: #f4f4f4;
}

.ui-menu-color-home{
    background-color: #00802b;
}

.ui-menu-color-photo{
    background-color: #b3b300;
}   

.ui-menu-color-book{
    background-color: #4087ce;
}

.ui-menu-color-music{
    background-color: #993399;
}


body {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    background-color: #525252;
    color: #555555;
}


/*--------------------------------------------Styles/Paddings/Margins/Text*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase{
    text-transform: uppercase;
}

.album-sub{
    font-family: "Acme",sans-serif;
    font-weight: 300;
    color: #fafafa;
    padding-top: 20px;
}

.inline-block{
    display: inline-block;
}


.row-table {
    display: table;
}

.monkee-fun,
.section-heading {
    font-family: "Acme", sans-serif;
    font-weight: 150;
    margin-top: 35px;
    margin-bottom: 50px;
}

.social-links{
    margin-top: 35px;
}

/*----------------------------------------Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo{
    background: url("../images/monkees-the-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 380px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.title{
    font-family: "Acme", sans-serif;
    font-weight: 100;
    font-size: 80px;
    margin-top: 40px;
    color: #ffffff;
}

.strap{
    font-family:"Acme", sans-serif;
    font-weight: 60;
    font-size: 28px;
    font-style: italic;
    margin-top: 24px;
    margin-bottom: 79px;
    color: #ffffff;
}

#nav{
    margin: 0;
}

#nav li {
    padding: 0;
}

.menuitem{
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}


.menuitem a i{
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}


/*----------------------------------------Hover.css*/

.hvr-sweep-to-top:before{
    background: rgba(0, 0, 0, 0.4);
    height: 120px;
}


/*---------------------------------Picture Grid.css*/

* {
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 20px;
}

img {
    display: block;
    width: 100%;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 5px solid #bed8d5;
}
/*----------------------------------------Footer.css*/

footer{
    background-color: #525252;
    color:#fafafa;
    min-height: 150px;
    margin-top: 20px;
}

.album {
    background: url("../images/monk_festive.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.social-links{
    padding-bottom: 25px;
    margin-left: 100px;
}


/*----------------------------------------social-links.css*/

.social-links li a i {
    width: 37px;
    height: 37px;
    padding: 15px 0;
    border-radius: 50%;
    font-size: 22px;
    line-height: 7px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.social-links li a i:hover{
    background: #a6a6a6;
}

#footer-details{
    margin-bottom: 155px;
}

/*----------------------------Be A Monkee*/

.be-a-monkee-icon {
    font-size: 26px;
    color: #e67e22;
}

.be-a-monkee-heading {
    margin-bottom: 15px;
}

/*--------------------------------------------Media Queries*/

@media(min-width: 992px) {
    .section-column {
        padding: 0 30px 30px;
        float: none;
        display: table-cell;
    }

    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}





